*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
p {
    color: #fff;
    font-size: .8rem;
}
h5{
    color: #fff;
    font-size: 1rem;
}
.btn{
    color: #fff;
    background-color: #E74F11;
    border-color: #E74F11;
}

.footer-header {
    background-color: black;
    padding-top: 2em;
    padding-bottom: 2em;
}
footer{
    margin-top: auto;
}

.footer-header .card{
    background-color: black;
}
.footer-header .card .card-body{
    background-color: black;
}
.footer-header img {
    height: auto;
    width: 15em;
}

.navbar {
    background-color: #E74F11;
    
}

.navbar li a {
    color: #fff;
    font-weight: bold;
   font-size:.91em;
   margin: 0 2em auto 2em;
}
.carousel-item img{
    object-fit: cover;
    height:700px;
    width: 100%; 
    /* max-height: 725px; */
}
.card{
border: 0px;

}
.card img {
    max-height: 12rem;
}



